h3,
p,
a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

div.mainhomepage #background-1 {
  background-image: url("/img/background-1.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

div.mainhomepage #background-2 {
  background-image: url("/img/background-2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

div.mainhomepage #background-3 {
  background-image: url("/img/background-3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

div.mainhomepage .search {
  padding: 200px 0 300px 0;
  background-image: url("/img/background-headerin.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

div.mainhomepage .search .searchbox {
  padding: 20px 25px 50px 25px;
  width: 450px;
  background: white;
  border-radius: 5px;
}

div.mainhomepage .search .searchbox h1 {
  text-align: center;
}

div.mainhomepage .search .searchbox .searchform {
  line-height: 2;
}

div.mainhomepage .search .searchbox .searchform label {
  font-weight: 600;
}

div.mainhomepage .search .searchbox .searchform input {
  width: 100%;
  padding: 15px 5px;
}

div.mainhomepage .search .searchbox .search-go {
  padding-top: 40px;
  text-align: end;
}

div.mainhomepage .search .searchbox .search-go a {
  text-decoration: none;
  padding: 15px;
  background-color: #ff5b60;
  color: white;
  border-radius: 5px;
}

div.mainhomepage .showflats,
div.mainhomepage .showflatsrates {
  padding-bottom: 30px;
}

div.mainhomepage .showflats .linkallflats,
div.mainhomepage .showflats .flatsratetitle,
div.mainhomepage .showflatsrates .linkallflats,
div.mainhomepage .showflatsrates .flatsratetitle {
  padding-top: 50px;
}

div.mainhomepage .showflats .linkallflats h3,
div.mainhomepage .showflats .flatsratetitle h3,
div.mainhomepage .showflatsrates .linkallflats h3,
div.mainhomepage .showflatsrates .flatsratetitle h3 {
  font-size: 25px;
  font-weight: 700;
  color: black;
}

div.mainhomepage .showflats .linkallflats a,
div.mainhomepage .showflats .flatsratetitle a,
div.mainhomepage .showflatsrates .linkallflats a,
div.mainhomepage .showflatsrates .flatsratetitle a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

div.mainhomepage .showflats .someflats,
div.mainhomepage .showflats .showflatsrates,
div.mainhomepage .showflatsrates .someflats,
div.mainhomepage .showflatsrates .showflatsrates {
  padding-top: 15px;
}

div.mainhomepage .showflats .flat,
div.mainhomepage .showflatsrates .flat {
  padding-bottom: 15px;
  border-radius: 5px;
  width: 96%;
}

div.mainhomepage .showflats .flat img,
div.mainhomepage .showflatsrates .flat img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

div.mainhomepage .showflats .flat div.flex-rate,
div.mainhomepage .showflatsrates .flat div.flex-rate {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

div.mainhomepage .showflats .flat div.flex-rate i.rate,
div.mainhomepage .showflatsrates .flat div.flex-rate i.rate {
  color: #ff5b60;
  font-size: 15px;
  margin-left: 2px;
}

